body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

.notSold {

    background-color: lightgrey;
    color: gray;


    img {
        filter: grayscale(2);
        width: 100%;
    }

}


.isSold {
    /*     
    border-radius: 1rem; */

}

h3 {
    font-size: larger;
    font-weight: bolder;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* flex-grow: 1; */
    gap: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    object-fit: cover;
    margin: 2rem;
    background-color: antiquewhite;
    width: 20%;
    /* max-height: 600px; */
    overflow: hidden;
    position: relative;
    z-index: 2;
    aspect-ratio: 3/4;

    img {
        width: 100%;
        height: 50%;
        min-height: 300px;
        object-fit: cover;
        overflow: hidden;
        z-index: 3;

    }

    p {
        padding: 1rem;
        display: block;
        text-align: center;
    }
}

.promoTag {
    width: 70px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 122;
    top: -15px;
    right: 5px;
    background-color: darkmagenta;
    color: white;
    font-weight: bolder;
    font-size: larger;
    padding: 0.5rem 1rem;

}



.strikethrough {
    ~p {
        color: gray;
        text-decoration: line-through;
    }
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

.containerPrix {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}