.card {
    width: 25%;
    aspect-ratio: 3/4;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    ;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */

    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    background-color: #1a1a1a;
    color: #eeeeee;
    text-align: center;
    position: relative;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-bottom: 2px solid #333;

    }

    h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-transform: uppercase;
        color: #eed26e;
        font-weight: 700;
        padding: 1.5rem;
        font-size: 1rem;
        letter-spacing: 1.5px;
        margin: 0;
    }




    .episode_infos {
        flex-grow: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: 'Courier New', Courier, monospace;
        padding: 0 1rem;

        p {
            margin: 2px 0;
            font-size: 1rem;
            /* margin-bottom: 0.5rem; */
        }

        .note {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            padding: 0.5rem;
            text-align: center;
            font-size: 1.4rem;
            color: #eed26e;


        }

    }
}

.fansfavorite {
    border-left: 8px solid #ff0000;
    box-shadow: 0 0 30px rgba(255, 200, 0, 0.4);
}

.heart {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.5rem;
    background: black;
    border: solid 1px #ff0000;
    padding: 5px;
    border-radius: 50%;
    z-index: 2;
}