.card {
    border-radius: 1rem;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 22%;
    aspect-ratio: 3/4;
    position: relative;

    img {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.heart {
    border-radius: 0.75rem;
    position: absolute;
    width: 4.5rem;
    top : 2rem;
    right: -2.25rem;
    background-color: tomato;
    padding: 0.5rem 1rem;
    text-align: center;
    z-index: 10;
    color : white;

    font-size: 0.75rem;

    svg {
        width: 2rem;
        height: 2rem;
        fill : none;
        stroke : white;
    }
}


.infos {
    border-radius: 1rem;

    position: absolute;
    height: 100%;
    width: 100%;
    top : 0;
    left: 0;
  background: linear-gradient(0deg,rgba(24, 24, 26, 1) 0%, rgba(46, 47, 51, 1) 24%, rgba(73, 73, 79, 0.8) 40%, rgba(255, 255, 255, 0) 100%);

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap : 0.25rem;

    color : white;

    h3 {
        font-size: 1.75rem;
        line-height: 1.75rem;
        margin-bottom: 0.5rem;
    }
    
    h4 {
        font-weight: normal;
        font-size: 0.85rem;
    }

    svg.full {
        width: 1.5rem;
        height: 1.5rem;
        fill : rgb(238, 238, 0);
        stroke: rgb(238, 238, 0);
    }

    svg.empty {
         width: 1.5rem;
        height: 1.5rem;
        fill : none;
        stroke: rgb(238, 238, 0);

    }

    .notation {
        display: flex;
        gap : 0.25rem;
        align-items: center;
    }
}