.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 5rem;
    background-color: darkseagreen;
}

.form, .todos {
    width: 30%;
    aspect-ratio: 3/4;
    background-color: whitesmoke;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem 1.5rem;
}
.box {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: darkseagreen transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 1rem;
}

.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    select {
    height: 2rem;
    width: 50%;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    border : none;
    border-radius: 0.5rem;
    &:focus {
        outline: none;
        outline: 2px solid darkseagreen;
    }
    }
}

.todo {
    width: 90%;
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: white;
    border-bottom: 1px solid gainsboro;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .plus, .delete {
        cursor: pointer;
    }


    &:has(:checked){
        order : 3;
    }
    &:has(.pulse){
        order : -1;
    }

    &:has(.plus:hover) .bot {
        height: fit-content;
        padding-top: 1rem;

    }
    .bot {
        height: 0px;
        overflow-y: hidden;
        transition: all 200ms ease-in-out;

        color : darkseagreen;
    }

    &:has(input:checked){
        .title {
            color : darkgray;
            text-decoration: line-through;
        

        }
    }

    .title {
        width: 70%;
        position: relative;
        font-size: 1rem;


        &::first-letter {
            text-transform: uppercase;
        }
    }

    input{
        height: 1.5rem;
        width: 1.5rem;
        accent-color: darkseagreen ;
    }


    .pulse {
        font-size: 0.55rem;
        text-transform: uppercase;
        font-weight: bold;
        color : white;
        border-radius: 1rem;
        position: absolute;
        background-color: #ea6565;
        
        top: 0;
        right: 1rem;
        /*End Change*/
        width: fit-content;
        height: fit-content;
        padding: 0.5rem;
        animation: pulse 0.85s ease-in-out infinite;
        z-index: 100;
        animation: pulse-fade 2s infinite;

        
    }
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formadd {
    width: 70%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 2.5rem;

    h2{
        color : darkseagreen;
    }

    .group {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        
        label {
            position: absolute;
            top : 0.3rem;
            left : 1rem;
            color : darkseagreen;
            transition: all 250ms ease-in-out;

            &:has(~input:focus, ~input:not(:placeholder-shown), ~textarea:focus, ~textarea:not(:placeholder-shown), ~select:focus, ~select:valid){
                top : -1.5rem;
                left : 0;
                font-size: 0.85rem;
                font-weight: bold;
            }
        }

        input, textarea, select {
            height: 2rem;
            width: 100%;
            padding: 0 0.5rem;
            border : none;
            border-radius: 0.5rem;
            &:focus {
                outline: none;
                outline: 2px solid darkseagreen;
            }
        }
        textarea {
            height: inherit;
            resize: none;
            padding: 0.5rem;
        }
    }
    input[type="submit"]{
        border : none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        color : white;
        background-color: darkseagreen;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    .error {
        font-size: 0.75rem;
        color :#ea6565;
        position: absolute;
        bottom : -1rem;
    }
}

@keyframes pulse {
  0% {
      transform: scale(0.9);
  }

  50% {
      transform: scale(1.0);
  }

  100% {
      transform: scale(0.9);
  }
}

@keyframes pulse-fade {
	0% {
		box-shadow: 0 0 0 0 rgb(234, 101, 101, 0.7);
	}
	
	70% {
		box-shadow: 0 0 0 10px rgb(234, 101, 101, 0);
	}
	
	100% {
		box-shadow: 0 0 0 0 rgb(234, 101, 101, 0);
	}
}